@use '../abstracts/_mixins' as *;
@use '../abstracts/_variables' as *;


h2 {
  margin-left: 0px;
  margin-bottom: 20px;
  font-size: 2rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  svg {
    margin-right: 10px;
    color: $primary-color;
  }
}

.home-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.campaign-card-container {
  max-width: 1200px;
  min-width: 320px;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
}

.homepage-image-carousel {
  padding-bottom: 30px;
}



.homepage-activities-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;

  p {
    font-size: 1.5rem;
    color: #666;
    margin-left: 52px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.homepage-products-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;

  p {
    font-size: 1.5rem;
    color: #666;
    margin-left: 52px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.homepage-locations-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;

  p {
    font-size: 1.5rem;
    color: #666;
    margin-left: 52px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.homepage-card-item {
  margin-bottom: 40px;
  border-radius: 8px;
  margin: 0 auto;

  .card-item__button {

    button {
      margin-left: 15px;
    }

    .favorite-button {
      display: none;
    }
  }


  img {
    margin: 0 auto;
    border-radius: 8px;
  }

}
