@use '../abstracts/_mixins' as *;
@use '../abstracts/_variables' as *;

body {
  min-width: 320px; // 限制最小寬度
}

.home-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.campaign-card-container {
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
}

.homepage-image-carousel {
  padding-bottom: 30px;
}



.homepage-activities-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;


  h2 {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 2rem;

    svg {
      margin-right: 10px;
      color: $primary-color;
    }
  }

  p {
    font-size: 1.5rem;
    color: #666;
    margin-left: 52px;
  }
}

.homepage-products-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;


  h2 {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 2rem;

    svg {
      margin-right: 10px;
      color: $primary-color;
    }
  }

  p {
    font-size: 1.5rem;
    color: #666;
    margin-left: 52px;
  }
}

.homepage-locations-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;

  h2 {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 2rem;

    svg {
      margin-right: 10px;
      color: $primary-color;
    }
  }

  p {
    font-size: 1.5rem;
    color: #666;
    margin-left: 52px;
  }
}

.homepage-card-item {
  margin-left: 60px;
  margin-bottom: 40px;
  border-radius: 8px;

  img {
    border-radius: 8px;
  }

}