@use '../abstracts/_mixins' as *;
@use '../abstracts/_variables' as *;


.home-page-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.homepage-search-bar {
  padding-bottom: 20px;
}

.homepage-image-carousel {
  padding-bottom: 60px;
}