@use '../abstracts/_variables' as*;
@use '../abstracts/_mixins' as *;

.products-page__main {
  width: 60%;
  margin: 0 auto;
}

.products-page__card-container {
  @include flex-center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10px;
}