@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

.activity-form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto 0;
  z-index: 2;

  h1 {
    margin-bottom: 20px;
    color: $text-color;
    z-index: 10;
  }

  &__form {
    width: 100%;
    margin-top:20px;
    position: relative;
    z-index: 5;

    &-item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 20px;
      label {
        font-size: 14px;
        color: $text-color;
      }

      input[type="text"],
      input[type="file"],
      textarea,
      select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid $gray-light;
        border-radius: 4px;
        outline: none;
        transition: border-color 0.3s;
        z-index: 10;

        &:focus {
          border-color: $primary-color;
          z-index: 10;
        }
      }

      textarea {
        resize: none;
        height: 100px;
        z-index: 10;
      }

      button[type="submit"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 10;
        &:hover {
          background-color: #333;
        }
      }
    }
  }

  &__image-upload {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    z-index: 10;
  }
}


select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>'); // 自訂下拉箭頭
  background-repeat: no-repeat;
  background-position: right 12px center; 
  background-size: 16px;
  padding-right: 40px; 
}

// 🚀 讓 select 和 input 內文對齊
select option {
  font-size: 16px;
}