@use '../abstracts/variables' as*;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  width: 100%;
  bottom: 0;

  &__links {
    margin-left: 0.8rem;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 1rem;

      li {
        margin-bottom: 0.5rem;

        a {
          color: $text-color;
          text-decoration: none;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    p {
      color: $gray-light;
      font-size: 0.8rem;
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;
    margin-right: 0.8rem;

    a {
      color: $text-color;
      font-size: $font-size-base;

      &:hover {
        color: $primary-color;
      }
    }
  }
}