@import '../abstracts/variables';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $background-color;

  &__links {
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 1rem;

      li {
        margin-bottom: 0.5rem;

        a {
          color: $text-color;
          text-decoration: none;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    p {
      color: $gray-light;
      font-size: 0.8rem;
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;

    a {
      color: $text-color;
      font-size: 1.5rem;

      &:hover {
        color: $primary-color;
      }
    }
  }
}