@use '../abstracts/variables' as *;
@use './shared/_buttons' as *;

.related-card {
  background-color: $background-color;
  max-width: 750px;
  min-width: 300px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 40px 0;
  
  &__image-wrapper {
    flex: 1;

    img {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 12px;
      margin: 20px;

      @media (max-width: 768px) {
        width: 160px;
        height: 160px;
      }
    }
  }

  &__content {
    flex: 3;
    display: flex;
    margin-right: 20px;

    h3 {
      font-size: 1.8rem;
      font-weight: $font-weight-bold;
      margin: 20px 0 10px 0;


      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    button {
      width: 120px;
      height: 40px;
      position: relative;
      right: -77%;
      bottom: 5%;

      @media (max-width: 768px) {
        right: -65%;
        bottom: -10%;
      }

      @media (max-width: 600px) {
        right: -5%;
        bottom: 0%;
        width: 100px;
        height: 30px;
        font-size: 0.8rem;
      }
    }
  }


}