@charset "UTF-8";
.about-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-page__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-page__image img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.about-page-container-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: #ffffff;
}
.about-page-container-inner-container h4 {
  font-weight: 600;
  margin: 1rem 0;
}

.about-page__contact-icon {
  font-size: 30px;
  margin-left: 5px;
}

.signup-background {
  height: 100vh;
  background: url("../../../public/assets/images/backgrounds/city-sea.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.signup-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 1;
}

.signin-background {
  height: 100vh;
  background: url("../../../public/assets/images/backgrounds/taipei.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.signin-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 1;
}

.create-activity-background {
  height: auto;
  background: url("../../../public/assets/images/backgrounds/taipei.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  z-index: -1;
}
.create-activity-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: -1;
}

main {
  margin-top: 100px;
}

.form-container {
  position: relative;
  background-color: #ffffff;
  opacity: 0.9;
  width: 500px;
  margin: 2rem auto 0 auto;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.form-group {
  margin: 2rem 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.form-label {
  flex: 0 0 80px;
  text-align: right;
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #444444;
}

.form-input {
  width: 70%;
  padding: 0.8rem;
  border: 1.5px solid #54A2C0;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ffffff;
}
.form-input:focus {
  border-color: #3d8ca5;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-button {
  width: 60%;
  padding: 10px 15px;
  background-color: #54A2C0;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 3rem auto 0 auto;
}
.form-button:hover {
  background-color: #3d8ca5;
}

.primary-button, .profile-wrapper .profile-info .follow-btn, .profile-wrapper .profile-info .profile-btn {
  width: 80%;
  padding: 10px 15px;
  background-color: #3d8ca5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 3rem auto 0 auto;
}
.primary-button:hover, .profile-wrapper .profile-info .follow-btn:hover, .profile-wrapper .profile-info .profile-btn:hover {
  background-color: #3d8ca5;
  color: #fff;
}

.form-button-group {
  display: flex;
  gap: 10px;
}

.cancel-button {
  background-color: #FF6B6B;
  color: #fff;
}
.cancel-button:hover {
  background-color: #D04745;
}

.small-button {
  width: 100px;
  padding: 5px 5px;
  background-color: #3d8ca5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
}
.small-button:hover {
  background-color: #A29552;
  color: #fff;
}

.form-actions {
  text-align: center; /* 讓內容水平置中 */
  margin-top: 1rem;
}
.form-actions .login-link {
  margin: 10px 0;
  font-size: 0.875rem;
  color: #333333;
}
.form-actions .login-link a {
  color: #FF6B6B;
  text-decoration: none;
}
.form-actions .login-link a:hover {
  text-decoration: underline;
}
.form-actions .divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 1rem;
  color: #444444;
  font-weight: 700;
}
.form-actions .divider::before, .form-actions .divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #575757;
  margin: 0 20px;
}
.form-actions .google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 60%;
  height: 50px;
  padding: 10px 15px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-actions .google-login-button:hover {
  background-color: #333;
}
.form-actions .google-login-button .google-icon {
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.header__logo a {
  text-decoration: none;
  color: #54A2C0;
  font-size: 2rem;
}
.header__logo img {
  width: 50px;
  height: 50px;
}
.header__logo__nav {
  display: flex;
  gap: 1.5rem;
}
.header__logo__nav .header__link {
  color: #575757;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}
.header__logo__nav .header__link:hover {
  color: #54A2C0;
}
.header__logo__actions {
  display: flex;
  gap: 1rem;
}
.header__logo__actions .header__button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
}
.header__logo__actions .header__button--primary {
  background-color: #54A2C0;
  color: white;
}
.header__logo__actions .header__button--primary:hover {
  background-color: #3d8ca5;
}
.header__logo .user-icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #54A2C0;
  border: 3px solid #54A2C0;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.header__logo .user-icon:hover {
  color: #ffffff;
  background-color: #54A2C0;
  transform: scale(1.1);
  cursor: pointer;
}
.header .dropdown-menu {
  min-width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #54A2C0;
  border: none;
}
.header .dropdown-menu .dropdown-item {
  font-size: 1rem;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #54A2C0;
}
.header .dropdown-menu .dropdown-item:hover {
  color: #54A2C0;
  background-color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.header .account-icon-btn {
  border: none;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  padding-top: 100px;
  box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}
.footer__links {
  margin-left: 4%;
}
.footer__links ul {
  list-style: none;
  padding: 0;
}
.footer__links ul a {
  color: #444444;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer__links ul a:hover {
  color: #54A2C0;
}
.footer__links p {
  color: #bababa;
  font-size: 1.2rem;
}
.footer__socials {
  display: flex;
  gap: 1rem;
  margin-right: 4%;
  margin-bottom: 40px;
}
.footer__socials a {
  color: #444444;
  font-size: 2rem;
}
.footer__socials a:hover {
  color: #54A2C0;
}

.custom-modal .modal-content {
  background: linear-gradient(120deg, #d3dbcf, #54A2C0);
  color: #333333;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
}

/* 成功樣式 */
.modal-body-success {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
}

/* 錯誤樣式 */
.modal-body-error {
  color: #D04745;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
}

/* 自定義 Modal 標題區域 */
.modal-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

/* 成功與錯誤圖標 */
.success-icon,
.error-icon {
  font-size: 1.5rem;
}

.success-icon {
  color: #333333;
}

.error-icon {
  color: #D04745;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none; /* 移除分隔線 */
  background: transparent; /* 保持與背景一致 */
}

/* 按鈕樣式 */
.modal-btn {
  background: linear-gradient(120deg, #ef9a9a, #e57373); /* 按鈕漸層 */
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.modal-btn:hover {
  background: linear-gradient(120deg, #e57373, #ef5350);
}

.card-item {
  position: relative;
  width: 290px;
  height: 400px;
  margin-bottom: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border-radius: 8px 8px 0 0;
}
.card-item .card-item__top {
  border-radius: 8px 8px 0 0;
}
.card-item img {
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}
.card-item .card-item__button {
  position: absolute;
  bottom: 15px;
  left: 180px;
  right: 0;
}
.card-item:hover {
  transform: scale(1.03);
}

.hero-banner {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.hero-banner__image {
  width: 75%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.hero-banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.hero-banner__content {
  position: absolute;
  top: 78%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.image-gallery {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 3rem;
}
.image-gallery__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.image-gallery__main {
  width: 100%;
}
.image-gallery__main img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.image-gallery__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.image-gallery__grid-top, .image-gallery__grid-bottom {
  display: flex;
  gap: 10px;
}
.image-gallery__grid-top img, .image-gallery__grid-bottom img {
  width: calc(50% - 5px);
  height: auto;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.image-gallery__grid img {
  width: calc(50% - 10px);
  /* 右側圖片按比例排列 */
  height: auto;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 6rem 0 3rem 0;
}
.pagination button {
  padding: 5px 10px;
  border: 1px solid #54A2C0;
  background-color: #ffffff;
  color: #54A2C0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}
.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagination button:hover:not(:disabled) {
  background-color: #54A2C0;
  color: #ffffff;
}
.pagination__page-number {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}
.pagination__page-number.active {
  background-color: #54A2C0;
  color: white;
  font-weight: bold;
  border-color: #1073a1;
}
.pagination span {
  font-size: 1rem;
  color: #444444;
}

.search-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
  background-color: #ffffff;
  margin-top: 10px;
  margin-top: 120px;
}

.search-bar-container {
  width: 60%;
  max-width: 800px;
}
.search-bar-container .search-input {
  height: 50px;
  font-size: 1.1rem;
}
.search-bar-container .search-input:focus {
  box-shadow: none;
  border-color: #54A2C0;
}
.search-bar-container .search-button {
  min-width: 100px;
}
.search-bar-container .search-button svg {
  font-size: 1.2rem;
  color: #54A2C0;
}
.search-bar-container .search-button:hover {
  background-color: #bababa;
  color: #ffffff;
}

.create-button {
  min-width: 100px;
  background-color: whitesmoke;
}
.create-button svg {
  color: #54A2C0;
}
.create-button:hover {
  background-color: #bababa;
  color: #ffffff;
}
.create-button .create-button-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .search-bar-container {
    width: 90%;
  }
}
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container .error-image {
  width: 400px;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.custom-carousel-caption {
  width: 1000px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(81, 81, 81, 0.8);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.custom-carousel-caption h3 {
  color: #f8f9fa;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  font-weight: 300;
}

.carousel-item {
  background-color: #000;
}

.carousel-indicators [data-bs-target] {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.campaign-card {
  width: 350px;
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}
.campaign-card img {
  width: 350px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}

.profile-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
}
.profile-wrapper .profile-info {
  flex: 1;
  max-width: 350px;
  margin-left: 8rem;
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 -4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
}
.profile-wrapper .profile-info .profile-avatar {
  display: flex;
  justify-content: center;
}
.profile-wrapper .profile-info .profile-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-wrapper .profile-info .profile-avatar .default-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.profile-wrapper .profile-info .profile-avatar .default-avatar:hover {
  transform: scale(1.1);
}
.profile-wrapper .profile-info .profile-details {
  margin: 3rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-wrapper .profile-info .profile-details p {
  color: #333333;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.profile-wrapper .profile-info .profile-details .profile-bio {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  max-width: 250px;
  font-size: 1rem;
  color: #575757;
  white-space: pre-line;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 2rem;
}
.profile-wrapper .profile-info .follow-btn {
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #3d8ca5;
  font-weight: 700;
  margin: 3rem auto 0 auto;
}
.profile-wrapper .profile-info .profile-btn {
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #3d8ca5;
  font-weight: 700;
  margin: 1rem auto;
}
.profile-wrapper .profile-info .icon {
  margin-left: 0.5rem;
}
.profile-wrapper .profile-content {
  display: flex;
  flex-direction: column;
}
.profile-wrapper .profile-content .profile-content__activities,
.profile-wrapper .profile-content .profile-content__followers {
  border-radius: 10px;
  margin: 1.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 -4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
}
.profile-wrapper .profile-content .profile-content__comments {
  margin: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 -4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
}
.profile-wrapper .profile-content .profile-content__comment-box,
.profile-wrapper .profile-content .profile-content__activities-box {
  margin: 2rem 0 1rem 0;
}
.profile-wrapper .profile-content .profile-content__comment-box .profile-content__comment-item,
.profile-wrapper .profile-content .profile-content__activities-box .profile-content__comment-item {
  display: flex;
  background-color: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
  color: #444444;
  gap: 2rem;
}
.profile-wrapper .profile-content .profile-content__comment-box .profile-content__activities-list,
.profile-wrapper .profile-content .profile-content__activities-box .profile-content__activities-list {
  display: flex;
  gap: 2rem;
}
.profile-wrapper .profile-content .profile-content__follower-box {
  display: flex;
  margin-top: 2rem;
}
.profile-wrapper .profile-content .profile-content__follower-box .profile-content__follower-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}
.profile-wrapper .profile-content .profile-content__follower-box .profile-content__follower-item .followers {
  border-radius: 50%;
  width: 100px;
}
.profile-wrapper .profile-content .profile-content-title {
  color: #575757;
  font-weight: 700;
}
.profile-wrapper .profile-content .icon {
  margin-left: 0.5rem;
}

.profile-edit-form-container {
  position: relative;
  background-color: #ffffff;
  opacity: 0.8;
  width: 500px;
  margin: 2rem auto;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.profile-edit-form-container .profile-edit-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-edit-form-container .profile-edit-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-edit-form-container .profile-edit-avatar .profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.profile-edit-form-container .profile-edit-avatar .change-picture {
  background-color: none;
  position: absolute;
  left: 305px;
  top: 195px;
  font-size: 1.2rem;
  color: #333333;
}
.profile-edit-form-container .profile-edit-avatar .change-picture:hover {
  color: #54A2C0;
  scale: 1.5;
}

.activity-detail-introduction {
  margin-left: 15px;
}

.comment-card__container {
  display: flex;
  width: 100%;
  margin: 30px 0;
}
.comment-card__comment {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 100px;
  display: flex;
  position: relative;
}
.comment-card__comment-header {
  display: flex;
  justify-content: space-between;
}
.comment-card__comment-header-left {
  display: flex;
  flex: 1;
}
.comment-card__comment-header-left-avatar {
  width: 100px;
  height: 100px;
  flex: 1;
}
.comment-card__comment-header-left-avatar img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin: 5px;
}
.comment-card__comment-header-left-name {
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 110px;
  font-size: 1rem;
}
.comment-card__comment-header-right {
  position: absolute;
  right: 15px;
  top: 5px;
  display: flex;
  justify-content: flex-end;
}

.comments-section {
  margin: 60px 15px 0;
}

.comments-section__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 60px 15px 0;
}

.create-comment-form__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-comment-form textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.create-comment-form__button {
  align-self: flex-end;
  padding: 8px 16px;
  background-color: #54A2C0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-comment-form button:hover {
  background-color: #54A2C0;
}

.create-comment-form__error-message {
  color: red;
}

.activity-form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto 0;
  z-index: 2;
}
.activity-form h1 {
  margin-bottom: 20px;
  color: #444444;
  z-index: 10;
}
.activity-form__form {
  width: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 5;
}
.activity-form__form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.activity-form__form-item label {
  font-size: 14px;
  color: #444444;
}
.activity-form__form-item input[type=text],
.activity-form__form-item input[type=file],
.activity-form__form-item textarea,
.activity-form__form-item select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #bababa;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  z-index: 10;
}
.activity-form__form-item input[type=text]:focus,
.activity-form__form-item input[type=file]:focus,
.activity-form__form-item textarea:focus,
.activity-form__form-item select:focus {
  border-color: #54A2C0;
  z-index: 10;
}
.activity-form__form-item textarea {
  resize: none;
  height: 100px;
  z-index: 10;
}
.activity-form__form-item button[type=submit] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #54A2C0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 10;
}
.activity-form__form-item button[type=submit]:hover {
  background-color: #333;
}
.activity-form__image-upload {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  z-index: 10;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 40px;
}

select option {
  font-size: 16px;
}

.product-form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto 0;
  z-index: 2;
}
.product-form h1 {
  margin-bottom: 20px;
  color: #444444;
  z-index: 10;
}
.product-form__form {
  width: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 5;
}
.product-form__form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.product-form__form-item label {
  font-size: 14px;
  color: #444444;
}
.product-form__form-item input[type=text],
.product-form__form-item input[type=file],
.product-form__form-item textarea,
.product-form__form-item select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #bababa;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  z-index: 10;
}
.product-form__form-item input[type=text]:focus,
.product-form__form-item input[type=file]:focus,
.product-form__form-item textarea:focus,
.product-form__form-item select:focus {
  border-color: #54A2C0;
  z-index: 10;
}
.product-form__form-item textarea {
  resize: none;
  height: 100px;
  z-index: 10;
}
.product-form__form-item button[type=submit] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #54A2C0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 10;
}
.product-form__form-item button[type=submit]:hover {
  background-color: #333;
}
.product-form__image-upload {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  z-index: 10;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 40px;
}

select option {
  font-size: 16px;
}

.detail-page-introduction {
  max-width: 700px;
  margin-left: 15px;
}
.detail-page-introduction__about {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}
.detail-page-introduction__content {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.detail-page-introduction__more {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration-line: underline;
  text-decoration-color: #bababa;
}
.detail-page-introduction__more::after {
  content: "";
  display: block;
  width: 720px;
  height: 1px;
  background-color: #bababa;
  margin-top: 20px;
}

.activity-detail-page-title-wrapper {
  margin-top: 40px;
  margin-left: 15px;
}

.price-information {
  background-color: #ffffff;
  width: 370px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  outline: 1px solid #bababa;
  border-radius: 12px;
  margin-top: 40px;
}
.price-information__price {
  font-size: 24px;
  font-weight: 600;
}
.price-information__description-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #bababa;
}
.price-information__description-content-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
}
.price-information__description-content-note {
  width: 95%;
  background-color: rgb(241, 222, 171);
  margin: 20px 0;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 12px;
  padding: 10px;
}

.related-card {
  background-color: #ffffff;
  max-width: 750px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 40px 0;
}
.related-card__image-wrapper {
  flex: 1;
}
.related-card__image-wrapper img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin: 20px;
}
.related-card__content {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px;
}
.related-card__content h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.related-card__content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.locations-list-wrapper {
  width: 70%;
  margin: 3rem auto;
}

.locations-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 10px;
}

.location-map {
  background-color: #ffffff;
  margin-left: 2rem;
}

.location-form-container {
  width: 1000px;
  margin: 2rem auto;
  padding: 5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.location-form-container h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.location-form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.location-form-container form .form-group {
  margin-bottom: 15px;
  position: relative;
}
.location-form-container form .form-group .form-label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #606060;
  text-align: left;
  font-weight: 700;
}
.location-form-container form .form-group .form-input, .location-form-container form .form-group .form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333333;
  transition: border 0.3s ease-in-out;
}
.location-form-container form .form-group .form-input:focus, .location-form-container form .form-group .form-textarea:focus {
  outline: none;
  border-color: #54A2C0;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}
.location-form-container form .form-group .form-textarea {
  min-height: 150px;
  resize: vertical;
}
.location-form-container form .form-group .suggestions-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.location-form-container form .form-group .suggestions-list .suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  color: #333;
}
.location-form-container form .form-group .suggestions-list .suggestion-item:hover {
  background-color: #f0f0f0;
}
.location-form-container form .form-group .suggestions-list .suggestion-item:last-child {
  border-bottom: none;
}
.location-form-container form .place-details {
  word-break: break-word;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}
.location-form-container form .place-details h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}
.location-form-container form .place-details a {
  color: #357296;
  text-decoration: none;
}
.location-form-container form .place-details a:hover {
  text-decoration: underline;
}
.location-form-container form .place-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}
.location-form-container form .place-details p strong {
  font-weight: 700;
  color: #333333;
}
.location-form-container form .place-details ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.location-form-container form .place-details ul li {
  font-size: 14px;
  color: #555;
}
.location-form-container form .place-details ul li:not(:last-child) {
  margin-bottom: 5px;
}
.location-form-container form .place-details .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 10px;
}
.location-form-container form .place-details .photos img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-introduction {
  font-size: 50px;
}

.location-detail-page__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.location-detail-page__container__title-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.location-detail-page__container__title-wrapper h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
}
.location-detail-page__container__info {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.location-detail-page__container__info p {
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}
.location-detail-page__container__info p strong {
  color: #333;
}
.location-detail-page__container__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
@media (max-width: 768px) {
  .location-detail-page__container__wrapper {
    grid-template-columns: 1fr;
  }
}
.location-detail-page__container__wrapper__main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
.location-detail-page__container__wrapper__main h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}
.location-detail-page__container__wrapper__aside {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.location-detail-page__container__wrapper__aside iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page header {
  flex-shrink: 0;
}
.page main {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page footer {
  flex-shrink: 0;
}

.profile-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(140deg, #54A2C0, #d4dadf, #54A2C0);
}
.profile-page header {
  flex-shrink: 0;
}
.profile-page main {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  margin-top: 100px;
  width: 100%;
}
.profile-page footer {
  flex-shrink: 0;
}

table {
  width: 100%;
  border-collapse: collapse; /* 去除邊框間距 */
  table-layout: auto; /* 固定表格佈局，讓列寬度一致 */
}

.backstage-management-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.tab-content {
  width: 1200px; /* 固定內容區域寬度 */
  max-width: 1200px;
  height: 500px; /* 固定高度 */
  overflow-y: auto; /* 當內容超出高度時顯示滾動條 */
  border: 1px solid #ddd; /* 增加邊框來區分內容區域 */
  background-color: #fff; /* 設置背景顏色，增強可視性 */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead th {
  background-color: #54A2C0; /* 表頭背景色 */
  color: white; /* 表頭文字顏色 */
  padding: 10px; /* 表頭內邊距 */
  text-align: center; /* 表頭文字置中 */
}

tr:nth-child(even) {
  background-color: #f9f9f9;
  padding: 1rem;
}

tr:hover {
  background-color: #bababa;
  color: #fff;
}

tbody td {
  padding: 1rem; /* 表格內容內邊距 */
  border: 1px solid #ddd; /* 表格內部邊框 */
  text-align: center; /* 默認置中，可根據需要覆蓋 */
  line-height: 20px;
}

.text-center {
  text-align: center; /* 置中對齊 */
}

.text-left {
  text-align: left; /* 靠左對齊 */
}

th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5), th:nth-child(6),
td:nth-child(6) {
  width: 13%; /* 編輯與刪除列固定寬度 */
}

select {
  width: 120px; /* 設定固定寬度 */
  padding: 5px; /* 增加內邊距 */
  text-align: center; /* 中心對齊選項 */
  -moz-text-align-last: center;
       text-align-last: center; /* 讓選中的選項置中 */
}

.nav-link {
  color: rgb(127, 127, 127);
}

.activities-page__main {
  width: 60%;
  margin: 0 auto;
}

.activities-page__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  margin-top: 10px;
}

.activity-detail-page {
  background-color: #ffffff;
  min-height: 100vh;
}
.activity-detail-page__container {
  max-width: 1200px;
  margin: 0 auto;
}
.activity-detail-page__search-bar-wrapper {
  margin-top: 120px;
}
.activity-detail-page__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.activity-detail-page__main {
  margin-top: 20px;
  max-width: 800px;
  flex: 2;
}
.activity-detail-page__aside {
  flex: 1;
  max-width: 400px;
}
.activity-detail-page__button {
  margin-top: 20px;
}

.manage-activity-page {
  position: relative;
  z-index: 10;
}
.manage-activity-page__container {
  padding: 60px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: url("../../../../src/assets/images/product-page-bottom-hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
}
.manage-activity-page__container h1 {
  text-align: center;
  font-size: 24px;
  color: #444444;
  margin: 50px auto 0;
}

.product-detail-page {
  background-color: #ffffff;
  min-height: 100vh;
}
.product-detail-page__container {
  max-width: 1200px;
  margin: 0 auto;
}
.product-detail-page__search-bar-wrapper {
  margin-top: 120px;
}
.product-detail-page__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page__title-wrapper {
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.product-detail-page__main {
  max-width: 800px;
  flex: 2;
  margin-top: 20px;
}
.product-detail-page__aside {
  flex: 1;
  max-width: 400px;
}
.product-detail-page__button {
  margin-top: 20px;
}

.manage-product-page {
  position: relative;
  z-index: 10;
}
.manage-product-page__container {
  padding: 60px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: url("../../../../public/assets/images/backgrounds/osaka_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
}
.manage-product-page h1 {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin: 50px auto 0;
}

.location-detail-page {
  background-color: #ffffff;
  min-height: 100vh;
}
.location-detail-page__container {
  max-width: 1200px;
  margin: 0 auto;
}
.location-detail-page__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
}
.location-detail-page__info {
  margin-bottom: 5rem;
}
.location-detail-page__info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}
.location-detail-page__info p strong {
  font-weight: 700;
  color: #333333;
}
.location-detail-page__info ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.location-detail-page__info ul li {
  font-size: 14px;
  color: #555;
}
.location-detail-page__info ul li:not(:last-child) {
  margin-bottom: 5px;
}
.location-detail-page__search-bar-wrapper {
  margin-top: 120px;
}
.location-detail-page__title-wrapper {
  font-weight: 700;
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.location-detail-page__main {
  max-width: 800px;
  flex: 2;
  margin-top: 20px;
}
.location-detail-page__aside {
  flex: 1;
  max-width: 370px;
  margin-right: 60px;
}
.location-detail-page__related-wrapper {
  margin-left: 15px;
}
.location-detail-page__comments-wrapper {
  margin-left: 15px;
}

.home-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.campaign-card-container {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
}

.homepage-image-carousel {
  padding-bottom: 30px;
}

.homepage-activities-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;
}
.homepage-activities-information h2 {
  margin-left: 0px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.homepage-activities-information h2 svg {
  margin-right: 10px;
  color: #54A2C0;
}
.homepage-activities-information p {
  font-size: 1.5rem;
  color: #666;
  margin-left: 52px;
}

.homepage-products-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;
}
.homepage-products-information h2 {
  margin-left: 0px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.homepage-products-information h2 svg {
  margin-right: 10px;
  color: #54A2C0;
}
.homepage-products-information p {
  font-size: 1.5rem;
  color: #666;
  margin-left: 52px;
}

.homepage-locations-information {
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;
}
.homepage-locations-information h2 {
  margin-left: 0px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.homepage-locations-information h2 svg {
  margin-right: 10px;
  color: #54A2C0;
}
.homepage-locations-information p {
  font-size: 1.5rem;
  color: #666;
  margin-left: 52px;
}

.homepage-card-item {
  margin-left: 60px;
  margin-bottom: 40px;
  border-radius: 8px;
}
.homepage-card-item img {
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */