@use '../../abstracts/_variables' as*;
@use '../../abstracts/_mixins' as*;



.payment-title {
  @include flex-center();
  margin-bottom: 3rem;
  h3 {
    font-size: 3rem;
    font-weight: $font-weight-bold;
  }
}