@use '../../abstracts/_variables' as*;

.location-detail-page {
  background-color: $background-color;
  min-height: 100vh;

  &__container {
    max-width: 1200px;
    margin: 0 auto;

  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__info {
  margin-bottom: 5rem;
        p {
        margin: 5px 0;
        font-size: $font-size-base;
        color: #555;
        margin-bottom: $spacing-md;


        strong {
          font-weight: $font-weight-bold;
          color: $gray-dark;
        }
      }
        ul {
        margin: 10px 0;
        padding: 0;
        list-style: none;

        li {
          font-size: 14px;
          color: #555;

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
}

  &__search-bar-wrapper {
    margin-top: 120px;
  }

  &__title-wrapper {
    font-weight: 700;
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  &__main {
    max-width: 800px;
    flex: 2;
    margin-top: 20px;
  }

  &__aside {
    flex: 1;
    max-width: 370px;
    margin-right: 60px;
  }
  
  &__related-wrapper {
    margin-left: 15px;
  }

  &__comments-wrapper {
    margin-left: 15px;
  }
}

