@use '../../abstracts/_variables' as*;

.activity-detail-page {
  background-color: $background-color;
  min-height: 100vh;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__main {
    max-width: 800px;
    flex: 2;
  }

  &__aside {
    flex: 1;
    max-width: 400px;
  }

  &__button {
    margin-top: 20px;
  }
}


