@use '../../abstracts/_mixins' as*;
@use '../../abstracts/_variables' as*;


.signup-background {
  height: 100vh;
  background: url('../../../public/assets/images/backgrounds/city-sea.jpg');
  background-size: cover;
  background-position: center;
  @include flex-center();
  position: relative;
  

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-overlay;
    z-index: 1;
  }
}

.signin-background {
  height: 100vh;
  background: url('../../../public/assets/images/backgrounds/taipei.jpg');
  background-size: cover;
  background-position: center;
  @include flex-center();
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // 確保遮罩鋪滿
    background-color: $background-overlay;
    z-index: 1;
  }
}

.create-activity-background {
  height:auto;
  background: url('../../../public/assets/images/backgrounds/taipei.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  z-index: -1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-overlay;
    z-index: -1;
  }
}

.location-background {
  height:auto;
  background: url('../../../public/assets/images/backgrounds/12turkey.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  // z-index: -1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-overlay;
    z-index: -1;
  }
}

main {
  width: 100%;
}