@use '../../abstracts/_variables' as*;

.card-item {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: 400px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-item__top {
    border-radius: 8px 8px 0 0;
  }

  .card-item__button-subtitle {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    padding-bottom: 20px;
  }

  img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    height: 200px;
  }

  .card-item__button {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    margin-top: auto; 
    margin-left: -25%;

    .favorite-button {
      margin-right: 5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.5rem;
      color: $error-color;
    }
  }

  &:hover {
    transform: scale(1.03);
  }

  @media (min-width: 768px) {
    width: 90%;
    max-width: 390px;
  }

  @media (min-width: 992px) {
    width: 390px;
  }
}