@use '../../abstracts/_variables' as*;

.card-item {
  position: relative;
  width: 290px;
  height: 400px;
  margin-bottom: 5px;
  border: 1px solid $secondary-color;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  img {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    height: 200px;
  }

  .card-item__button {
    position: absolute;
    bottom: 15px;
    left: 190px;
    right: 0;
  }

  &:hover {
    transform: scale(1.03);
  }
}