@use '../../abstracts/_variables' as*;

.header__actions-buttons {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;
  background-color: $background-color;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  &__link {
    padding-left: 15px;
  }

  .dropdown-toggle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 25px;
      height: 25px;
      color: $secondary-color;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
      margin-right: 1rem;
      // gap: 10px;
    }

    span {
      color: $primary-color;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }

  //漢堡排按鈕 (RWD 顯示)
  &__menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
  }

  //導覽選單
  &__nav {
    display: flex;
    gap: 1.5rem;

    .header__link {
      color: $secondary-color;
      text-decoration: none;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;

    .header__button {
      padding: 0.5rem 1rem;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      text-decoration: none;
      background-color: transparent;
      color: $primary-color;
      &--primary {
        background-color: $primary-color;
        color: white;

        &:hover {
          background-color: $tertiary-color;
        }
      }
    }
  }

  //行動版 (Ipad and below) 
  @media (max-width: 1200px) {
    &__menu-btn {
      display: block;
        background-color: transparent;
        color: $primary-color;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
    }

    &__nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: $background-color;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
      padding: 1rem 0;
      text-align: center;


      /*讓選單初始是隱藏的*/
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.6s ease, transform 0.3s ease, max-height 0.3s ease-in-out;
      overflow: hidden;
    }

    &__nav.active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }

    .header__button {
      font-size: 1rem;
    }

    .header__logo span {
      font-size: 1.2rem;

    }
  }
}