.image-gallery {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 3rem;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 5px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr; 
    }
  }

  &__main {
    img {
      width: 100%;
      height: 340px;
      object-fit: cover;
      border-radius: 12px;

      @media screen and (max-width: 768px) {
        width: 560px;
      }
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-top,
    &-bottom {
      display: flex;
      gap: 5px;
      img {
        width: 280px; 
        height: 170px;
        object-fit: cover; 
        border-radius: 12px;
      }
    }
  }

  @media (max-width: 768px) {
    &__container {
      grid-template-columns: 1fr; 
    }

    &__grid {
      flex-direction: row; 
      flex-wrap: wrap;
    }
  }
}
