@use '../../abstracts/_variables' as*;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 6rem 0 3rem 0;
  button {
    padding: 5px 10px;
    border: 1px solid $primary-color;
    background-color: $background-color;
    color: $primary-color;
    cursor: pointer;
    border-radius: 4px;
    font-size: $font-size-base;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: $primary-color;
      color: $background-color;
    }
  }

  &__page-number {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;

    &.active {
      background-color: $primary-color;
      color: white;
      font-weight: bold;
      border-color: #1073a1;
    }
  }

  span {
    font-size: $font-size-base;
    color: $text-color;
  }
}