@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.custom-modal .modal-content {
  background: linear-gradient(120deg, #d3dbcf, $primary-color); 
  color: $gray-dark;
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  border: none;
}

/* 成功樣式 */
.modal-body-success {
  color: $gray-dark;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-align: center; 
  padding: $spacing-lg;
}

/* 錯誤樣式 */
.modal-body-error {
  color: $error-color;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-align: center;
  padding: $spacing-lg;
}

/* 自定義 Modal 標題區域 */
.modal-title-container {
  @include flex-center();
  gap: $spacing-sm;
  font-size: $font-size-large;
}

/* 成功與錯誤圖標 */
.success-icon,
.error-icon {
  font-size: 1.5rem;
}

.success-icon {
  color: $gray-dark;
}

.error-icon {
  color: $error-color;
}


.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none; /* 移除分隔線 */
  background: transparent; /* 保持與背景一致 */
}

/* 按鈕樣式 */
.modal-btn {
  background: linear-gradient(120deg, #ef9a9a, #e57373); /* 按鈕漸層 */
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(120deg, #e57373, #ef5350);
  }
}
