@use '../../abstracts/_variables' as*;

.table-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  // font-size: $font-size-large;
  border: none;
}

th {
  background-color: $primary-color;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: white;
  padding: $spacing-md;
}

td {
  padding:$spacing-md;
  border: 1px solid #ddd;
  // line-height: 20px;

}

tr:nth-child(even) {
  background-color: #f9f9f9;
    padding:$spacing-md;


}

tr:hover {
  background-color: $gray-light;
  color: #fff;
}

thead, td {
   text-align: center;
}
